body{
    margin: auto;
    padding: 0px;
    /* background-color: rgb(127, 255, 180); */
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

img{
    height: 50px;
    width: 45px;
    margin: 15px 0 0 100px;
    border-radius: 50px;
}

.title{
    color: rgb(243, 235, 239);
    font-weight: 800;
    margin: -37px 0 0 160px;
    font-size: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
    margin: -29px 24px 0 0;
}

li{
    padding-left: 20px;
    color: azure;
}

#desc{
    text-align: center;
    justify-content: center;
    font-size: 84px;
    align-items: center;
    color: white;
    margin: 120 0 0 0;
}

button{
display: flex;
justify-content: center;
align-items:center ;
color:white ;
background-color: rgb(194, 32, 100);
margin: 50px 0 0 650px;
border: none;
height: 50px;
width: 130px;
border-radius: 3px;
font-size: 20px;
}

button:hover{
display: flex;
justify-content: center;
align-items:center ;
color:white ;
background-color: transparent;
margin: 50px 0 0 650px;
border: none;
height: 50px;
width: 130px;
border-radius: 3px;
font-size: 20px;
}